
{% extends "base.html.twig" %}
{% block body %}
    
<h1>Bienvenue ici les amis</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores voluptatem error, necessitatibus nisi dolore quos quaerat sint dicta quibusdam sapiente, suscipit in odio quidem amet accusantium aperiam iure ex. Non esse quod veritatis, mollitia nam aliquam unde neque doloremque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores voluptatem error, necessitatibus nisi dolore quos quaerat sint dicta quibusdam sapiente, suscipit in odio quidem amet accusantium aperiam iure ex. Non esse quod veritatis, mollitia nam aliquam unde neque doloremque.</p>
{% endblock %}