
{% extends "base.html.twig" %}

{% block body %}
<article>
<h2>Titre de l'article</h2>
<div class="metadata">Ecrit le 27/10/2022 à 15:21 dans la classe politique</div>
<div class="content">
    <img src="https://image.shutterstock.com/image-photo/kiev-ukraine-may-30-2016-260nw-428643526.jpg" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate perspiciatis repellat fugit eum distinctio!</p>
    <p>Delectus aperiam assumenda quas aspernatur. Quos rerum odio, possimus consequatur totam nemo voluptatum itaque ex!</p>
        <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid ullam magni, pariatur ducimus numquam, exercitationem cumque excepturi dolore, quibusdam esse consectetur sequi aspernatur amet. A laudantium tenetur, voluptate, excepturi aspernatur modi perspiciatis delectus maxime sequi ducimus suscipit? Ducimus, ullam, corrupti iste quo voluptates iusto necessitatibus quis nobis veniam, tempore quisquam?</p>
            <p>Velit animi nam accusamus perferendis, numquam fugiat nostrum consectetur quibusdam, officia amet obcaecati iusto illum nesciunt necessitatibus, laudantium aliquid ratione explicabo? Aspernatur quam, laboriosam autem mollitia eveniet voluptatem ex! Dicta libero facere optio inventore modi. Laudantium consequuntur odit nobis excepturi recusandae dolore tempora esse iste exercitationem, voluptate dolor quae quod?</p>
    </div>
</article>
{% endblock %}